<h3>Регистрация</h3>

<form action="/reg" method="POST">
    <label for="firstName">Имя</label>
    <input name="firstName" type="text">

    <br>
    <br>

    <label for="middleName">Отчество</label>
    <input name="middleName" type="text">

    <br>
    <br>

    <label for="secondName">Фамилия</label>
    <input name="secondName" type="text">

    <br>
    <br>

    <label for="login">Логин</label>
    <input name="login" type="text">

    <br>
    <br>

    <label for="password">Пароль</label>
    <input name="password" type="password">

    <br>
    <br>

    <button type="submit">Зарегистрироваться</button>
</form>